<div class="row">
  <!-- Calculator -->
  <div class="col-md-6">
    <div class="form-group">
      <label for="productSelection">Product</label>
      <select id="productSelection" class="form-control" (change)="selectProduct($event.target.value)">
        <option *ngFor="let product of powerProducts; let i = index" value="{{i}}">{{product.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="employeeInput">Employee</label>
      <input type="text" class="form-control" id="employeeInput" placeholder="100" [(ngModel)]="employeeCount">
    </div>
    <button class="btn btn-primary" (click)="doCalculation()">Calculate</button>
  </div>
  <!-- Result -->
  <div class="col-md-6">

  </div>
</div>
